---
import { Icon } from "astro-icon";
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="max-w-3xl mx-auto text-center pb-12">
        <h2
          class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
        >
          <span>Footer Component space</span>
        </h2>
        <p class="text-xl text-gray-600 dark:text-slate-400">
          This space for footer component like contact information.
        </p>
      </div>
    </div>
  </div>
</section>
