---
import HeaderLink from "./HeaderLink.astro";
import Logo from "~/components/widgets/Logo.astro";
import { Icon } from "astro-icon";
---

<header
class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0"
>
  <div
    class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4"
  >
    <div class="flex justify-between">
      <a class="flex items-center" href="/">
        <Logo />
      </a>
    </div>
    <div class="flex items-center justify-between mt-4 md:mt-0">
      <nav class="flex items-center justify-between space-x-4">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">About</HeaderLink>
        <HeaderLink href="/about">Blog</HeaderLink>
        <HeaderLink
          href="https://twitter.com/tananyan29"
          target="_blank"
          aria-label="tanayan Twitter"
        >
          <Icon name="tabler:brand-twitter" class="w-5 h-5" />
        </HeaderLink>
        <HeaderLink
          href="https://github.com/tanayan299"
          target="_blank"
          aria-label="tnyn.cafe GitHub"
        >
          <Icon name="tabler:brand-github" class="w-5 h-5" />
        </HeaderLink>
        <button data-aw-toggle-color-scheme
          aria-label="Toggle between Dark and Light mode"
        >
          <Icon name="tabler:sun" class="w-5 h-5" />
        </button>
      </nav>
    </div>
  </div>
</header>

<style is:global>
  [data-aw-toggle-menu] path {
    @apply transition;
  }
  [data-aw-toggle-menu].expanded g > path:first-child {
    @apply -rotate-45 translate-y-[14px] translate-x-[-3px];
    /* transform: rotate(-45deg) translate(-12px, 8px); */
  }
  
  [data-aw-toggle-menu].expanded g > path:last-child {
    @apply rotate-45 translate-y-[-9px] translate-x-[14px];
  }
</style>