---
import HeaderLink from "./HeaderLink.astro";
import Logo from "~/components/atoms/Logo.astro";
import ToggleTheme from "../widgets/ToggleTheme.astro";
import ToggleMenu from "../widgets/ToggleMenu.astro";
import {
  getHomePermalink,
  getBlogPermalink,
  getPermalink,
  getRelativeLink,
} from "~/utils/permalinks";

import { Icon } from "astro-icon";
---

<header
  class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm"
>
  <div
    class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4"
  >
    <div class="flex justify-between">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
    </div>
    <div class="flex items-center justify-between mt-4 md:mt-0">
      <nav class="flex items-center justify-between space-x-4">
        <HeaderLink href={getHomePermalink()}>Home</HeaderLink>
        <HeaderLink href="/About">About</HeaderLink>
        <HeaderLink href={getBlogPermalink()}>Blog</HeaderLink>
        <HeaderLink
          href="https://twitter.com/tananyan29"
          target="_blank"
          aria-label="tanayan Twitter"
        >
          <Icon
            name="ri:twitter-fill"
            class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
          />
        </HeaderLink>
        <HeaderLink
          href="https://github.com/tanayan299"
          target="_blank"
          aria-label="tnyn.cafe GitHub"
        >
          <Icon name="tabler:brand-github" class="w-5 h-5" />
        </HeaderLink>
        <ToggleTheme iconClass="w-5 h-5" />
      </nav>
    </div>
  </div>
</header>

<style is:global>
  [data-aw-toggle-menu].expanded .line1 {
    transform: rotate(-45deg) translate(-12px, 8px);
  }

  [data-aw-toggle-menu].expanded .line2 {
    transform: rotate(45deg) translate(4px, -16px);
  }
</style>
