---
import { Picture } from "@astrojs/image/components";
import backgroundImage from "~/assets/images/bacground.png";
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-12 md:pt-20">
      <div class="relative">
        <Picture
          src={backgroundImage}
          class="mx-auto rounded-md w-full"
          widths={[400, 400]}
          sizes="(max-width: 400px) 100vw, 400px"
          alt="Background Image"
          aspectRatio="1:1"
          class="mx-auto rounded-md opacity-30 dark:opacity-60"
          style="transform: translateY(-20px);"
        />
        <div
          class="absolute top-0 left-0 w-full h-full flex justify-center items-center"
        >
          <div class="text-center">
            <h1
              class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4"
            >
              Welcome to
              <span
                class="bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-blue-400 sm:whitespace-nowrap"
                >tnyn.cafe</span
              >
            </h1>
            <div class="max-w-3xl mx-auto">
              <p class="text-2xl text-gray-500 dark:text-gray-300 mb-8">
                This is tanayan's portfolio site!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  <svg
    class="absolute left-0 right-0 w-full pointer-events-none"
    style={{ height: "100px" }}
    viewBox="0 0 2560 100"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
  >
    <polygon
      class="text-white dark:text-custon_dark fill-current"
      points="2560 0 1280 100 0 0"></polygon>
  </svg>
</div>
