---
import { SITE } from "~/config.mjs";
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

import HeaderLink from "~/components/widgets/HeaderLink.astro";
import Layout from "~/layouts/PageLayout.astro";
import ProfileImage from "~/assets/images/profile_icon.jpeg";
import TimeLine from "~/components/common/TimeLine.astro";
import Round from "~/components/common/Round.astro";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main class="container mx-auto w-5/6 lg:w-2/3">
    <h1 class="my-5 text-4xl font-bold">About Me</h1>
    <div class="avatar my-5">
      <div
        class="w-24 h-24 rounded-full ring ring-offset-base-100 ring-offset-2"
      >
        <Picture
          src={ProfileImage}
          class="w-24 h-24 rounded-full"
          widths={[400, 768]}
          sizes=""
          alt="Profile Image"
          aspectRatio="1:1"
          style=""
        />
      </div>
    </div>
    <p class="my-5 text-base">
      ゲームが大好きなエンジニア。<br />
      デザインやイラストも好き。最近は3DCGに入門中。
    </p>
    <h2 class="my-1 text-2xl font-bold">Contact</h2>
    <div class="items-center md:flex">
      <HeaderLink
        class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
        href="https://twitter.com/tananyan29"
        target="_blank"
        aria-label="tanayan Twitter"
      >
        <Icon name="tabler:brand-twitter" class="w-5 h-5" />
        <dev class="md:ml-1"> Twitter</dev>
        <HeaderLink
          class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
          href="https://github.com/tanayan299"
          target="_blank"
          aria-label="tanayan GitHub"
        >
          <Icon name="tabler:brand-github" class="w-5 h-5" />
          <dev class="md:ml-1"> GitHub</dev>
        </HeaderLink>
      </HeaderLink>
    </div>

    <div class="flex flex-wrap">
      <div class="w-full sm:w-1/2">
        <h3 class="my-1 text-2xl font-bold mt-6">Interest</h3>
        <ul class="list-disc pl-8 text-sm">
          <li>Cloud Native Computing Foundation</li>
          <li>3DCG (Blender, UnrealEngine)</li>
          <li>Design</li>
          <li>Illustration</li>
          <li>FullStack</li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2">
        <h3 class="my-1 text-2xl font-bold mt-6">Skills</h3>
        <ul class="list-disc pl-8 text-sm">
          <li>TBD</li>
        </ul>
      </div>
    </div>

    <!-- BackGround Section -->
    <div
      class="card card-bordered shadow-lg my-8 bg-base-100 bg-gray-200 dark:bg-gray-600 rounded-xl"
    >
      <div class="card-body dark:text-gray-300">
        <h2 class="card-title text-xl p-4">Background</h2>
        <div class="time-line-container mx-8 mb-3">
          <Round title="Hewlett Packard Japan, G.K." date="Apr 2019 - Now" />
        </div>
      </div>
    </div>

    <!-- Extra Activities Section -->
    <div
      class="card card-bordered shadow-lg my-8 bg-base-100 bg-gray-200 dark:bg-gray-600 rounded-xl"
    >
      <div class="card-body dark:text-gray-300">
        <h2 class="card-title text-xl p-4">Extra Activities</h2>
        <div class="time-line-container mx-8 mb-3">
          <TimeLine
            title="Platform Engineering Meetup"
            date="Feb 2023 - Now"
            link_title="Compass / Platform Engineering Meetup"
            link_url="https://platformengineering.connpass.com/"
          />
          <Round
            title="CloudNative Days"
            date="Apr 2022 - Now"
            link_title="CloudNative Days Portal Site"
            link_url="https://cloudnativedays.jp/"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
