---
import { Icon } from "astro-icon/components";
import Image from "~/components/common/Image.astro";
import { SITE } from "~/utils/config"; 

import Headline from "~/components/blog/Headline.astro";
import HeaderLink from "~/components/widgets/HeaderLink.astro";
import Layout from "~/layouts/PageLayout.astro";
import ProfileImage from "~/assets/images/profile_icon.jpeg";
import Round from "~/components/common/Round.astro";
import TimeLine from "~/components/common/TimeLine.astro";

import type { MetaData } from "~/types";

const metadata: MetaData= {
  title: SITE.name,
  description: SITE.description,
};
---

<Layout metadata={metadata}>
  <main class="container mx-auto w-5/6 lg:w-1/2">
    <section
      class="px-6 sm:px-6 pt-12 sm:pt-16 lg:pt-20 mx-auto max-w-4xl dark:text-gray-200"
    >
      <Headline subtitle="">About Me</Headline>
    </section>
    <div class="flex flex-wrap flex-row items-center justify-center my-5 mb-10">
      <div class="avatar mr-5">
        <div
          class="w-24 h-24 rounded-full ring ring-offset-base-100 ring-offset-2 dark:ring-cyan-400 ring-blue-200"
        >
          <Image
            src={ProfileImage}
            class="w-24 h-24 rounded-full"
            widths={[400, 768]}
            sizes=""
            alt="Profile Image"
            aspectRatio="1:1"
            style=""
          />
        </div>
      </div>
      <div class="text-sm my-6">
        ゲームが大好きなエンジニア。<br
        />
        <br />最近はインフラ寄りからWebフロントエンド・バックエンド寄りのエンジニア。<br
        />
        新しいことに触れるのが好きです。デザインやイラストも好きで、最近はUIやWebフロントエンドに興味があります。<br
        />
        <br />最近は3DCGにも興味があり、BlenderやUnreal Engineの勉強中です。<br
        />
        <br />これまで不足していたアウトプットを増やそうと画策中。<br />
      </div>
    </div>

    <div class="flex flex-wrap -mt-6">
      <div class="w-full sm:w-1/2">
        <h3
          class="my-1 text-2xl font-bold dark:text-gray-200 flex items-center"
        >
          <Icon name="tabler:link" class="w-6 h-6 mr-1" />Links
        </h3>
        <div class="items-center md:flex">
          <HeaderLink
            class="text-muted dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            href="https://twitter.com/tananyan29"
            target="_blank"
            aria-label="tanayan Twitter"
          >
          <div class="flex items-center">
            <Icon name="tabler:brand-twitter" class="w-5 h-5" />
            <div class="md:ml-1"> Twitter</div>
          </div>
            <HeaderLink
              class="text-muted dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              href="https://github.com/tanayan299"
              target="_blank"
              aria-label="tanayan GitHub"
            >
            <div class="flex items-center">
              <Icon name="tabler:brand-github" class="w-5 h-5" />
              <dev class="md:ml-1"> GitHub</dev>
            </div>
            </HeaderLink>
            <HeaderLink
              class="text-muted dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              href="https://www.docswell.com/user/tananyan29"
              target="_blank"
              aria-label="tanayan Docswell"
            >
            <div class="flex items-center">
              <Icon name="tabler:link" class="w-5 h-5" />
              <dev class="md:ml-1"> Docswell</dev>
            </div>
            </HeaderLink>
          </HeaderLink>
        </div>
      </div>
      <div class="w-full sm:w-1/2">
        <h3
          class="my-1 text-2xl font-bold dark:text-gray-200 flex items-center"
        >
          <Icon name="tabler:map-pin" class="w-6 h-6 mr-1" />Interest
        </h3>
        <ul class="list-disc pl-8 text-sm">
          <li>Cloud Native</li>
          <li>UI, Web Frontend</li>
          <li>3DCG (Blender, Unreal Engine)</li>
          <li>Design</li>
          <li>Illustration</li>
        </ul>
      </div>
      <!--
      <div class="w-full sm:w-1/2">
        <h3
          class="my-1 text-2xl font-bold dark:text-gray-200 flex items-center"
        >
          <Icon name="tabler:edit" class="w-6 h-6 mr-1" />Skills
        </h3>
        <ul class="list-disc pl-8 text-sm">
          <li>TBD</li>
        </ul>
      </div>
      -->
    </div>

    <!-- BackGround Section -->
    <div
      class="card card-bordered shadow-lg my-8 bg-custom_bg_cream dark:bg-gray-800 rounded-sm border border-gray-800 dark:border dark:border-gray-300"
    >
      <div class="card-body dark:text-gray-300">
        <h2 class="card-title text-lg p-4">Background</h2>
        <div class="time-line-container mx-8 mb-3">
          <TimeLine
            title="Hewlett Packard Japan, G.K."
            date="Apr 2019 - Jun 2023"
          />
          <Round title="AP Communications Co., Ltd." date="Jul 2023 - Now" />
        </div>
      </div>
    </div>

    <!-- Extra Activities Section -->

    <div
      class="card card-bordered shadow-lg my-8 bg-custom_bg_cream dark:bg-gray-800 rounded-sm border border-gray-800 dark:border dark:border-gray-300"
    >
      <div class="card-body dark:text-gray-300">
        <h2 class="card-title text-lg p-4">Extra Activities (Tech)</h2>
        <div class="time-line-container mx-8 mb-3">
          <TimeLine
            title="Platform Engineering Meetup"
            date="Feb 2023 - Now"
            link_title="connpass / Platform Engineering Meetup"
            link_url="https://platformengineering.connpass.com/"
          />
          <Round
            title="CloudNative Days"
            date="Apr 2022 - Now"
            link_title="CloudNative Days Portal Site"
            link_url="https://cloudnativedays.jp/"
          />
        </div>
      </div>
    </div>

    <div
      class="card card-bordered shadow-lg my-8 bg-custom_bg_cream dark:bg-gray-800 rounded-sm border border-gray-800 dark:border dark:border-gray-300"
    >
      <div class="card-body dark:text-gray-300">
        <h2 class="card-title text-lg p-4">Extra Activities (Design)</h2>
        <div class="time-line-container mx-8 mb-3">
          <TimeLine
            title="Adobe クリエイティブカレッジ 第一期生: Adobe Premiere Pro コース"
            date="Apr 2023 - Jun 2023"
            link_title="Adobe Premiere Pro コース概要"
            link_url="https://www.adobe.com/jp/events/creativecloud/creativecollege/premierepro.html"
          />
          <Round
            title="Adobe クリエイティブカレッジ 第一期生: Adobe Illustrator コース"
            date="Mar 2023 - Jun 2023"
            link_title="Adobe Illustrator コース概要"
            link_url="https://www.adobe.com/jp/events/creativecloud/creativecollege/illustrator.html"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>

<!-- 発光エフェクト -->
<style>
  .icon {
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.5))
      drop-shadow(0 0 5px rgba(0, 255, 255, 0.5));
  }
</style>