---
import { SITE } from "~/config.mjs";
import { Picture } from "@astrojs/image/components";
import Layout from "~/layouts/PageLayout.astro";
import ProfileImage from "~/assets/images/profile_icon.jpeg";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main class="container mx-auto w-5/6 lg:w-2/3">
    <h1 class="my-5 text-4xl font-bold">About Me</h1>
    <div class="avatar my-5">
      <div
        class="w-24 h-24 rounded-full ring ring-offset-base-100 ring-offset-2"
      >
        <Picture
          src={ProfileImage}
          class="w-24 h-24 rounded-full"
          widths={[400, 768]}
          sizes=""
          alt="Profile Image"
          aspectRatio="1:1"
          style=""
        />
      </div>
    </div>
    <p class="my-5">
      ゲームが大好きなエンジニア。デザインやイラストも好き。最近は3DCGに入門中。
    </p>
  </main>
</Layout>
