---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="tnyn.cafe">
	<main>
		<h1 class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight dark:text-white text-gradient">tnyn.cafe</h1>
		<p class="mt-6 text-lg text-slate-600 max-w-3xl mx-auto dark:text-slate-400">
			This is tanayan's portfolio site
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
