---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero />

  <!-- Content Widget **************** -->
  <Content
    highlight=""
    title="About Me"
    items={[]}
    image={{
      src: import("~/assets/images/profile_icon.jpeg"),
      alt: "Profile Image",
      class: "rounded-lg",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        I'm tanayan !
      </h3>
      日本在住のゲーム大好きなエンジニア。 <br />
      デザインやイラストも好き。最近は3DCGに入門中。<br />
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts title="Latest from blog" information={``} postIds={[]} />
</Layout>
