---
import { Image } from "astro:assets";
import backgroundImage from "~/assets/images/neon_tnyncafe_logo.png";
---

<div class="flex items-center">
  <div>
    <Image
      src={backgroundImage}
      class="w-8 h-8"
      width={400}
      height={400}
      alt="Profile Image"
      style=""
    />
  </div>
  <span
    class="self-center ml-2 mt-[-3px] text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    tnyn.cafe
  </span>
</div>
