---
import Item from "~/components/works/GridItem.astro";
import type { Works } from "~/types";

export interface Props {
  works: Array<Works>;
}

const { works } = Astro.props;
---

<div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3 -mb-6">
  {works.map((work) => <Item works={work} />)}
</div>
