---
import { getPermalink } from "~/utils/permalinks";

import { WORKS } from "~/config.mjs";
import type { Works } from "~/types";

export interface Props {
  tags: Works["tags"];
  class?: string;
}

const { tags, class: className = "text-sm" } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li class="bg-gray-100 dark:bg-slate-500 inline-block mr-2 mb-2 py-0.4 px-2 lowercase font-medium rounded-sm opacity-80">
          {WORKS?.tag?.disabled ? (
            tag
          ) : (
            <a
              href={getPermalink(tag, "tag")}
              class="text-muted dark:text-cyan-100 hover:text-primary dark:hover:text-cyan-200"
            >
              {tag}
            </a>
          )}
        </li>
      ))}
    </ul>
  )
}
